@use '@/assets/styles/sass/abstracts/variables';

@mixin center-flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fixed-extend-banner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@mixin expand-box-max {
    width: 100%;
    height: 100%;
    padding: 0;
}

@mixin config-text-dialog-button($color) {
    color: $color;
    font-weight: bold;
    font-size: 1.8rem;
}

@mixin change-mode-color($base-color) {
    background-color: $base-color;
    .mode-selection__selection-panel {
        select {
            color: $base-color;
        }
    }
}

@mixin default-details {
    details {
        contain: content;
        background-color: variables.$details-bg-color;
        color: variables.$details-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 25px 0px;
        summary {
            background-color: variables.$summary-bg-color;
            font-size: variables.$summary-font-size;
            font-weight: bold;
            text-align: left;
            padding-left: 1em;
            padding-top: 10px;
            padding-bottom: 8px;
            border-radius: 25px 0px;
            user-select: none;
            cursor: pointer;
            &:focus-visible {
                outline: none;
                border: variables.$outline-focus;
                border-width: 4px;
            }
        }
        ul, p {
            margin: 10px 2em;
            font-size: variables.$details-content-font-size;
        }
    }
}

@mixin sign-form-content($primary-color, $secondary-color, $focus-color) {
    fieldset {
        display: flex;
        flex-direction: column;
        padding: 8px 10px;
        padding-bottom: 10px;
        background-color: $primary-color;
        border-radius: 15px;
        border: none;
        height: fit-content;
        legend {
            padding: 5px;
            background-color: $secondary-color;
            color: variables.$form-legend--color;
            border-radius: 10px;
            text-align: center;
            font-size: 4em;
            font-weight: bold;
            user-select: none;
        }
        label {
            margin-bottom: 2px;
            color: variables.$form-label--color;
            font-size: 3em;
            font-weight: bold;
            user-select: none;
        }
        input {
            padding-left: 1em;
            color: variables.$form-input--color;
            border-radius: 25px;
            font-size: 2.5em;
            border: none;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        &:focus-within {
            background-color: $secondary-color;
        }
        button {
            margin-top: 10px;
            padding: 20px;
            border-radius: 25px;
            border: none;
            font-size: 3em;
            font-weight: bold;
            color: antiquewhite;
            user-select: none;
            cursor: pointer;
            background: $focus-color;
            transition: all .3s ease;
            &:hover {
                filter: sepia(50%)
            }
            &:active {
                transform: scale(.9);
            }
        }
    }   
}

@mixin errors-content {
    .errors__container {
        background: red;
        color: ghostwhite;
        padding: 20px;
        padding-left: 2em;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 2em;
        font-weight: bold;
        border-radius: 25px;
        height: fit-content;
        margin-left: 10px;
    }
}

@mixin selected-stock-design {
    color: whitesmoke;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 10px;
}